/media/
/Visualization/PythonVisulization

# LaTeX build files
latex/*.aux
latex/*.log
latex/*.out
latex/*.pdf
latex/build_*.txt

# Python artifacts
__pycache__/
*.pyc
*.egg-info/
build/
dist/
cache_sdf/
*.npy

